@import 'primitive-colors';

$page-bg: $secondary-800;
$surface-bg: $secondary-900;

$border-color: $secondary-200;

$heading-color: $secondary-50;
$body-color: $secondary-100;

$heading-inverted-color: $secondary-900;
$body-inverted-color: $secondary-800;

$primary-action: $primary-500;
$secondary-action: $secondary-50;