$tablet-width: 720px;
$desktop-width: 1200px;

@mixin tablet {
	@media (min-width: $tablet-width) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-width) {
		@content;
	}
}

@mixin container-styles {
	max-width: $desktop-width;
	width: 100%;
	padding: 16px;

	@include desktop {
		margin: 0 auto;
	}
}

.container {
	@include container-styles;

	&--body {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		@include desktop {
			flex-direction: row;
		}

	}

	&__Content {

		display: flex;
		flex-direction: column;
		gap: 1rem;

		@include desktop {
			width: 70%;
		}

		&--Listing {
			gap: 4rem;
		}

	}

	&__Sidebar {
		display: flex;
		flex-direction: column;
		gap: 4rem;

		@include desktop {
			width: 30%;
		}
	}

}


.container--Row {
	display: flex;

	* {
		flex: 1;
	}


}

.containerSection {
	margin-top: 8rem;
	margin-bottom: 8rem;
}