@import "../../utils/styles/colors";
@import "../../utils/styles/typography/typography";
@import "../../utils/styles/container";

$cover-bg-color: $surface-bg;

.Cover {
	padding: 8rem 1rem;
	background-color: $cover-bg-color;
}

.Cover__Container {
	@include container-styles;


	& > * {
		margin-bottom: 1rem;
	}

	&--Center {
		text-align: center;
		@include desktop {
			padding: 0 11.25rem;
		}

	}

	&--Left {
		text-align: left;
		@include desktop {
			padding: 1rem;
		}

	}
}

.Cover__Meta {
	display: flex;
	align-items: center;
	gap: 1rem;
}